# Located here https://console.circle.com/wallets/user/configurator
NEXT_PUBLIC_APP_ID="378ddc1b-50d4-5285-81db-f421a48764fa"
# hosted backend url
NEXT_PUBLIC_BASE_URL="http://localhost:8080"

# canonical hosted url
NEXTAUTH_URL="http://localhost:3000"

NODE_ENV=development
